body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}

.container {
    width: 95%; 
    max-width: 1200px; 
    padding: 30px; 
   background-color: rgba(255, 255, 255, 0.711);
    border-radius: 12px;
   box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.8em;
    color: #28a745;
    font-weight: bold;
    padding-bottom: 15px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); 
}


.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.form-grid > div {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px; 
    font-weight: bold;
    color: #555;
    font-size: 0.95em;
}

input, select {
    width: 100%;
    padding: 10px; 
    border-radius: 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

form button[type="submit"] {
    display: block;
    width: 300px;
    margin: 30px auto 0 auto;
    
    padding: 12px 25px;
    background-color:  #28a745; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.1s;
    box-shadow: 0 4px 10px rgba(40, 167, 69, 0.3);
}

form button[type="submit"]:hover {
    background-color: #218838;
    transform: translateY(-1px);
}

form button[type="submit"]:active {
    background-color: #1e7e34;
    transform: translateY(0);
}

.result {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
