body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.container {
   background-color: rgba(255, 255, 255, 0.711);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 90%;
    max-width: 650px;
    text-align: center;
    z-index: 1;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.8em;
    color: #3236b0;
    font-weight: bold;
    padding-bottom: 15px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); 
}

.model-eval {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.711);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.model-eval p {
    font-size: 1.3em;
    color: #dc3545;
    padding: 10px 0;
    border-bottom: 1px dashed #e9ecef;
    margin-bottom: 20px;
}

pre {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 6px;
    overflow-x: auto;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 0.9em;
    line-height: 1.4;
    color: #000;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.container button {
    background-color: #442eb0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    margin-top: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container button:hover {
    background-color: #2f1fa38f;
}