<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Mô hình dự đoán mức độ béo phì</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
    <div class="container">
        <h1>MÔ HÌNH DỰ ĐOÁN <br> MỨC ĐỘ BÉO PHÌ</h1>

        <div class="menu-box">
            <button id="predict-btn" onclick="location.href='/predict'">BẮT ĐẦU DỰ ĐOÁN</button>
            <button id="evaluate-btn" onclick="location.href='/evaluate'">ĐÁNH GIÁ MÔ HÌNH </button>
        </div>
    </div>
</body>
</html>
